$headings-font-family: "Quicksand", sans-serif;
$text-font-family: "archivo narrow", sans-serif;
$font-nav-links: "arial", sans-serif;

$primary-color: #ffac5e;
$secondary-color: #ffc88a;
$heading-color: #0c0500;
$text-color: #0f0000;
$link-color: #1d0d00;
$link-hover-color: #140900;
$button-green: #28a745;
$button-green-hover: #1e8a37;
$button-purple: #c046e6;
$button-purple-hover: #a232c4;
$warning-red: #c40000;
$warning-red-hover: #a70000;

$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 20px;
$h4-font-size: 18px;
